// Regra específica para o filtro de tópicos
#filter-topic {
  margin-bottom: 0;
}

// Tentativa com ::ng-deep para quebrar encapsulamento
::ng-deep #filter-topic .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

.mat-column-questions_count {
  text-align: center;
}
