// Regras específicas para os filtros
#filter-area {
  margin-bottom: 0;
}

::ng-deep #filter-area .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

#filter-status {
  margin-bottom: 0;
}

::ng-deep #filter-status .mat-mdc-form-field-subscript-wrapper {
  height: 0 !important;
}

.mat-column-max_time {
  text-align: center;
}

.mat-column-max_time {
  text-align: center;
}

.mat-column-passing_score {
  text-align: center;
}
